.menu {
  font: 900 18px/21px Roboto;
}

.text__title {
  font: 900 40px/47px Roboto;
}

.text__content {
  font: 900 20px/23px Roboto;
}

.text__button {
  font: 900 20px/23px Roboto;
}

.buy__title {
  font: 500 30px/35px Roboto;
}

.buy__price {
  font: 900 30px/35px Roboto;
}

.buy__button1 {
  font: 900 20px/23px Roboto;
}

.buy__button2 {
  font: 900 20px/23px Roboto;
}

.apply__title {
  font: 900 30px/35px Roboto;
}

.apply__timing {
  font: 900 20px/23px Roboto;
}

.apply__button {
  font: 900 20px/23px Roboto;
}

.speakers__title {
  font: 900 30px/35px Roboto;
}

.map__location {
  font: 900 18px/21px Roboto;
}

.contacts {
  font: 900 18px/21px Roboto;
}
  
